@import '../../styles/_vars.scss';
.user-menu-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    div{
        display: flex;
    }
}

@media screen and (max-width: $mobile){
    .user-menu-wrapper{
        flex-direction: column;
        .actions-wrapper{
            margin: 24px 0;
        }
    }
}